<!doctype html>
<html>
  <head>
    <title><%= config.page_title %></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div id="app"></div>

    <script src="<%= config.library_url %>"></script>

    <script>
      Scalar.createApiReference(
        '#app',
        <%= config.configuration_to_json %>
      )
    </script>
  </body>
</html>
